<form >
  <div class="form-group">
    <label for="label">Label</label>
    <input type="text" class="form-control" id="label" [(ngModel)]="newControl.title" name="label" required>
  </div>
  <div class="form-group">
    <label for="tip">Tip</label>
    <input type="text" class="form-control" id="tip" [(ngModel)]="newControl.tip" name="tip">
  </div>
  <span class="glyphicon glyphicon-ok pull-right" (click)="emitUpdate()" title="Ok"></span>
  <span class="glyphicon glyphicon-remove pull-right" (click)="emitClose()" title="Abbrechen"></span>
</form>