<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-primary" (click)="performCommands()">Kommandos ausführen</button>
  </div>
	<div class="col-sm-12">
		<accordion> 
			<accordion-group heading="Test">
				<div class="row">
					<div class="col-sm-12">
						<button class="btn btn-lg btn-primary btn-block" (click)="onSLV()">SLV</button>
						<button class="btn btn-lg btn-primary btn-block" (click)="onHide()">Hide</button>
					</div>
				</div>
			</accordion-group> 
		</accordion>
	</div>
</div>