<div class="row">
	<div class="col-sm-12">
		<accordion> 
			<accordion-group heading="Test">
				<div class="row">
					<div class="col-sm-12">
            <button class="btn btn-lg btn-primary btn-block" (click)="performCommands()">Kommandos ausführen</button>
						<button class="btn btn-lg btn-primary btn-block" (click)="onSLV()">SLV</button>
						<button class="btn btn-lg btn-primary btn-block" (click)="onHide()">Hide</button>
            <button class="btn btn-lg btn-primary btn-block" (click)="onUnhide()">Unhide</button>
            <button class="btn btn-lg btn-primary btn-block" (click)="onVP()">Verfügungspunkt</button>
					</div>
				</div>
			</accordion-group> 
		</accordion>
	</div>
</div>