<div class="panel-default panel-heading text-center">
    Formeleditor</div>
<form class="form-horizontal form-default" #dcform="ngForm">
    <div class="form-group">
        <label class="control-label col-xs-2" for="formel">Formel</label>
        <div class="col-xs-10">
            <input type="text" class="form-control" id="formel" name="Formel" appExpression [(ngModel)]="model.cmd.text" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2" for="order">Priorität</label>
        <div class="col-xs-10">
            <input type="number" class="form-control" id="order" name="Order" [(ngModel)]="model.cmd.order" />
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="save(); dcform.form.markAsPristine()" [disabled]="!dcform.form.valid || !dcform.form.dirty">Speichern</button>
        </div>
    </form>
</div>
