<form >
  <div class="form-group">
    <label for="label">Label</label>
    <input type="text" class="form-control" id="label" [(ngModel)]="newControl.title" name="label" required>
  </div>
  <div class="form-group">
    <label for="tip">Tip</label>
    <input type="text" class="form-control" id="tip" [(ngModel)]="newControl.tip" name="tip">
  </div>
  <div class="form-group">
    <label for="readonly">
      <input type="checkbox" class="form-control" id="readonly" [(ngModel)]="newControl.readonly" name="readonly" required>
      Readonly
    </label>
  </div>
  <div class="form-group">
    <label for="autofill">Autofill</label>
    <input type="text" class="form-control" id="autofill" [(ngModel)]="newControl.autofill" name="autofill">
  </div>
  <span class="glyphicon glyphicon-ok pull-right" (click)="emitUpdate()" title="Ok"></span>
  <span class="glyphicon glyphicon-remove pull-right" (click)="emitClose()" title="Abbrechen"></span>
</form>
