.list-group {
	max-height: 200px;
	overflow-y: auto;
}

.panel-default {
	background-color: #fde57b;
	border-color: none;
}

.btn-primary {
	background-color: rgb(13,51,255);
}

.btn-primary:hover {
    background-color: rgb(69, 97, 255);
}

.form-group > label {
	color: #656565;
}

.ng-invalid .btn-primary:hover {
	background-color: #656565;
}

.ng-invalid .btn-primary {
	background-color: #656565;
	border-color: #656565;
}