<div class="row">
  <div class="col-sm-12">
    <app-absender-auswahl></app-absender-auswahl>
  </div>
</div>

<div class="row">
    <input id="FileContentBase64" type="file" (change)="openFile($event)" placeholder="Upload file..." />
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel-heading text-center column">Dokumente</div>
    <tree-root [nodes]="documentTree | async" [options]="options" [focused]="true">
      <ng-template #treeNodeFullTemplate let-node let-index="index" let-templates="templates">
        <div class="tree-node tree-node-level-{{ node.level }}" [class.tree-node-expanded]="node.isExpanded && node.hasChildren">
          <tree-node-drop-slot *ngIf="index === 0" [dropIndex]="node.index" [node]="node.parent"></tree-node-drop-slot>
          <div class="node-wrapper">
            <span *ngIf="node.hasChildren" [ngClass]="getNodeIsExpandedClass(node)" (click)="node.toggleExpanded()"></span>
            <div class="node-content-wrapper" [treeDrag]="node" [treeDragEnabled]="node.allowDrag()">
              <span *ngIf="!node.hasChildren" class="glyphicon glyphicon-zoom-in" (click)="showThumb(node)"></span>
              <span (click)="nodeClicked(node)" [ngClass]="isRootNode(node)">
                <tree-node-content [node]="node" [index]="index" [template]="templates.treeNodeTemplate"></tree-node-content>
              </span>
            </div>
          </div>
          <tree-node-children [node]="node" [templates]="templates"></tree-node-children>
          <tree-node-drop-slot [dropIndex]="node.index + 1" [node]="node.parent"></tree-node-drop-slot>
        </div>
      </ng-template>
    </tree-root>
  </div>
</div>