<div class="container">
  
  <!-- <accordion> 
    <accordion-group heading="Debug">
      <div class="row">
        <div class="col-sm-12">{{ templateStatus | async }}</div>
      </div>
      <div class="row">
        <div class="col-sm-12">Absender: {{ (absender | async)?.nachname }}</div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-lg btn-primary btn-block" (click)="onInsertDocument()">Dokument einfügen</button>
          <button class="btn btn-lg btn-primary btn-block" routerLink="/absender-verwalten">Absender verwalten</button>
          <button class="btn btn-lg btn-primary btn-block" routerLink="/absender-auswahl">Absender auswählen</button>
          <button class="btn btn-lg btn-primary btn-block" routerLink="/expression-editor">Expressions</button>
        </div>
      </div>
    </accordion-group> 
  </accordion> -->
  
  <!-- <div class="row text-center">
      <div id="navHelp1">
          <span>Text</span>
        </div>
  </div> -->
  <div id="navbar-container" class="nav-bar-container text-center">
      <!-- overlay tooltip example <button class="btn navbar-btn glyphicon glyphicon-nav-bar glyphicon-list-alt tip"><span>test</span></button> -->
      <button id="nav1" class="btn navbar-btn glyphicon glyphicon-nav-bar glyphicon-th" routerLink="/document-treeview" title="Startseite"></button>
      <button id="nav2" class="btn navbar-btn glyphicon glyphicon-nav-bar glyphicon-list-alt" routerLink="/absender-verwalten" title="Absender verwalten"></button>
      <button id="nav3" class="btn navbar-btn glyphicon glyphicon-nav-bar glyphicon-calendar" routerLink="/absender-auswahl" title="Absenderauswahl"></button>
      <button id="nav4" class="btn navbar-btn glyphicon glyphicon-nav-bar glyphicon-comment" routerLink="/expression-editor" title="Expression-Editor"></button>
      <button class="btn navbar-btn glyphicon glyphicon-nav-bar glyphicon-wrench"></button>
      <button class="btn navbar-btn glyphicon glyphicon-nav-bar glyphicon-info-sign"></button>
    </div>
    
  <router-outlet></router-outlet>
</div>
