@import '../node_modules/angular-tree-component/dist/angular-tree-component.css';
body {
    padding-bottom: 40px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
    background-color: rgb(13,51,255);
    color: rgb(255, 255, 255);
}

.list-group {
    margin-bottom: 0;
}

.control-label {
    color: #555;
}

.fa-compass {
    color: #555;
    margin-right: 1rem;
}

.panel-heading {
    background-color: #FCC700;
    color: rgb(59, 59, 59);
    font-weight: 500;
    font-size: 2rem;
    margin-top: 1rem;
}

.btn-primary:hover {
    background-color: rgb(69, 97, 255);
    border-color: rgb(69, 97, 255);
}

span.icon-hightlight:hover {
    color: red;
}

.body {
    background-color: #ffed9e;
    margin-right: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.footer-nav-pills>li {
    float: left;
}

.lhm-logo {
    padding-left: 20px;
}

.glyphicon {
    cursor: pointer;
}

.glyphicon-nav-bar {
    font-size: 24px;
    color: rgb(63, 63, 63);
}

.glyphicon-nav-bar:focus {
    color: #FCC700;
}

.button-active {
    background-color: #fff;
}

.navbar-bottom {
    background-color: #fde57b;
}

/* overlay Tooltip example*/

.tip {
    text-decoration: none
}

.tip:hover {
    position: relative
}

.tip span {
    display: none
}

.tip:hover span {
    padding: 5px 10px 5px 5px;
    display: block;
    z-index: 100;
    background-color: #555;
    left: 0px;
    margin: 10px;
    width: auto;
    position: absolute;
    top: 50px;
    text-decoration: none
}

.container {
    background-color: #ffed9e
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.footer-nav-pills>li {
    float: left;
}

.glyphicon {
    cursor: pointer;
}

.glyphicon-nav-bar {
    font-size: 24px;
    color: rgb(63, 63, 63);
}

.glyphicon-nav-bar:hover {
    color: #FCC700;
}

.nav-bar-container {
    padding: 10px;
    background-color: #FCC700;
}

/* funktioniert nicht in dokument-treeview-component.css ?*/
.angular-tree-component {
    background-color: #fde57b;
    padding-left: 20px;
    padding-top: 10px;
    width: 100%;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.hbox {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-item {
    padding: 5px;
    margin: 5px;
    text-align: center;
}